{% extends 'base.html' %}

{% block content %}
<div class="jumbotron col-8">
    <h1 class="display-3">Signup!</h1>
    <hr class="my-4">
    <form action="/auth/register" method="POST">
        <div class="form-group">
            <label class="col-form-label" for="username">Username</label>
            <input required name="username" type="text" class="form-control" placeholder="username" id="usernameInput">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input required name="password" type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Password">
        </div>
        <div class="form-group">
            <label class="col-form-label" for="firstName">First Name</label>
            <input required name="first_name" type="text" class="form-control" placeholder="John" id="firstName">
        </div>
        <div class="form-group">
            <label class="col-form-label" for="lastName">Last Name</label>
            <input required name="last_name" type="text" class="form-control" placeholder="Doe" id="lastName">
        </div>
        <div class="form-group">
            <label class="col-form-label" for="phone">Phone number</label>
            <input required name="phone" type="text" class="form-control" placeholder="ex: 5555555555" id="phone">
        </div>
        <p class="lead">
            <a class="btn btn-link btn-lg" href="/auth/login" role="button">Login</a>
            <button class="btn btn-primary btn-lg" type="submit">Signup</button>
        </p>
    </form>
</div>

{% endblock %}
